h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color: darkolivegreen;
}
canvas{
    animation-name: colourchange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes colourchange{
    from{box-shadow: 10px 10px 100px purple;}
    to{box-shadow: 10px 10px 100px darkolivegreen;}
}